{
    "kind": "BuildConfig",
    "apiVersion": "build.openshift.io/v1",
    "metadata": {
        "name": "s2i-minimal-notebook-gpu",
        "namespace": "{{ meta.namespace }}",
        "labels": {
            "build": "s2i-minimal-notebook-gpu"
        }
    },
    "spec": {
        "triggers": [
            {
                "type": "ConfigChange"
            }
        ],
        "source": {
            "type": "Git",
            "git": {
                "uri": "https://github.com/vpavlin/jupyter-notebooks"
            },
            "contextDir": "minimal-notebook"
        },
        "strategy": {
            "type": "Source",
            "sourceStrategy": {
                "from": {
                    "kind": "ImageStreamTag",
                    "name": "python-36-{{ OS_VERSION }}:{{ CUDA_VERSION }}-cudnn7-devel-{{ OS_VERSION }}"
                }
            }
        },
        "output": {
            "to": {
                "kind": "ImageStreamTag",
                "name": "s2i-minimal-notebook-gpu:3.6"
            }
        },
        "resources": {
            "limits": {
                "memory": "2Gi"
            }
        }
    }
}
