apiVersion: v1
kind: ConfigMap
metadata:
  name: spark-cluster-opendatahub
  namespace: "{{ meta.namespace }}"
  labels:
    radanalytics.io/kind: SparkCluster
    app: jupyterhub
    component: spark-operator
data:
  config: |-
    worker:
      instances: "{{ worker_node_count }}"
      memoryLimit: "{{ worker_memory_limit }}"
      cpuLimit: {{ worker_cpu_limit }}
      memoryRequest: "{{ worker_memory_request }}"
      cpuRequest: {{ worker_cpu_request }}
    master:
      instances: "{{ master_node_count }}"
      memoryLimit: "{{ master_memory_limit }}"
      cpuLimit: {{ master_cpu_limit }}
      memoryRequest: "{{ master_memory_request }}"
      cpuRequest: {{ master_cpu_request }}
    customImage: {{ spark_image }}
    env:
    - name: SPARK_METRICS_ON
      value: prometheus
