{
  "kind": "RoleBinding",
  "apiVersion": "authorization.openshift.io/v1",
  "metadata": {
    "name": "jupyterhub-edit",
    "namespace": "{{ meta.namespace }}",
    "labels": {
      "app": "jupyterhub"
    }
  },
  "subjects": [
    {
      "kind": "ServiceAccount",
      "name": "jupyterhub-hub"
    }
  ],
  "roleRef": {
    "apiGroup": "rbac.authorization.k8s.io",
    "name": "jupyterhub-edit",
    "namespace": "{{ meta.namespace }}"
  }
}
