apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: "thrift-server"
  namespace: "{{ meta.namespace }}"
  labels:
    app: "thrift-server"
spec:
  template: 
    metadata:
      labels:
        name: "thrift-server"
        app: "thrift-server"
    spec:
      containers:
        - name: "thrift-server"
          image: "{{ spark_docker_image }}"
          command: ["/entrypoint", 
                    "/opt/spark/bin/spark-class",
                    "org.apache.spark.deploy.SparkSubmit",
                    "--class",
                    "org.apache.spark.sql.hive.thriftserver.HiveThriftServer2",
                    "--properties-file", "/etc/spark-properties/thrift-server.conf"]
          imagePullPolicy: Always
          env:
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: "thrift-server"
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: "thrift-server"
                  key: AWS_SECRET_ACCESS_KEY
          volumeMounts:
            - name: spark-conf
              mountPath: /etc/spark-properties/
            - name: thriftserver
              mountPath: /spark-warehouse
          livenessProbe:
            failureThreshold: 4
            httpGet:
              path: /
              port: 4040
              scheme: HTTP
            periodSeconds: 30
            initialDelaySeconds: 300
            successThreshold: 1
            timeoutSeconds: 5
      restartPolicy: Always
      volumes:
        - name: spark-conf
          configMap:
            name: "thrift-server"
        - name: thriftserver
          persistentVolumeClaim:
            claimName: thriftserver-data
  replicas: 1 
  triggers:
    - type: ConfigChange
  strategy: 
    type: Rolling
